@import "components/header.css";
@import "components/footer.css";

body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0rem;
}

a {
  color: #00e;
  text-decoration: none;
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
