<!DOCTYPE html>
<html lang="{{ site.Language.Locale }}" dir="{{ or site.Language.Direction `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <header>
    {{ partial "header.html" . }}
  </header>
  <main class="content-wrapper">
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
  <!-- load assets/js/menu.js -->
  {{ $menuScript := resources.Get "js/menu.js" }}
  <script src="{{ $menuScript.RelPermalink }}"></script>
</body>
</html>
